.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.f-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}