body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}





@keyframes boom-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.boom-leave-active {
    animation: boom-in .5s reverse;
}

.boom-enter-active {
    animation: boom-in .5s;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}